################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs/YetGenAkbankBackendEgitimi/FileContentIndex
/.vs
/AsynchronousLessons/W1.OOPConsole/.vs/W1.OOPConsole
/AsynchronousLessons/W1.OOPConsole/W1.1.OOPConsole/obj
