@using ReDoReMusic.Domain.Entities;
@model List<Brand>

<h2>Add Instrument</h2>

 <form method="post">
	<div class="mb-3 mt-3">
		<label class="form-label">Instrument Name:</label>
		<input type="text" class="form-control" placeholder="Enter Instrument Name" name="instrumentName">
	</div>

@* 	<div class="mb-3 mt-3">
		<label class="form-label">Instrument Brand:</label>
		<input type="text" class="form-control" placeholder="Enter Instrument Name" name="instrumentBrand">
	</div> *@

	<div class="mb-3 mt-3">
		<label class="form-label">Instrument Brand:</label>
		<select class="form-control" name="instrumentBrandId">
			@foreach (var brand in Model)
			{
				<option value="@brand.Id">@brand.Name</option>
			}
		</select>
	</div>


	<div class="mb-3 mt-3">
		<label class="form-label">Instrument Model:</label>
		<input type="text" class="form-control" placeholder="Enter Instrument Model" name="instrumentModel">
	</div>

	<div class="mb-3 mt-3">
		<label class="form-label">Instrument Color:</label>
		<select class="form-control" name="instrumentColor">
			<option value="Red">Red</option>
			<option value="Blue">Blue</option>
			<option value="Green">Green</option>
			<option value="Yellow">Yellow</option>
			<option value="Orange">Orange</option>
			<option value="Purple">Purple</option>
			<option value="Pink">Pink</option>
			<option value="Teal">Teal</option>
			<option value="Brown">Brown</option>
			<option value="Gray">Gray</option>
		</select>
	</div>

	<div class="mb-3 mt-3">
		<label class="form-label">Instrument ProductionYear:</label>
		<input type="text" class="form-control" placeholder="Enter Instrument Name" name="instrumentProductionYear">
	</div>
	<div class="mb-3 mt-3">
		<label class="form-label">Instrument Price:</label>
		<input type="text" class="form-control" placeholder="Enter Instrument Name" name="instrumentPrice">
	</div>

	<button type="submit" class="btn btn-primary">Create Instrument</button>

</form> 

